.Hawkeye{
 display:none;   
}
.Thor{
 display:none;   
}
.Iron-man{
 display:none;   
}
.Black-widow{
 display:none;   
}
.default{
 display:none;   
}
.hulk{
 display:none;   
}
.ant-man{
 display:none;   
}
img{
 width:300px;   
}